body {
  box-sizing: border-box;
  background-color: #111;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.svg-container {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 200px;
  height: 150px;
}

#speed {
  color: white;
  font-size: 36px;
  line-height: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: 25px;
  z-index: 1;
}

#meter-bg-bar {
  stroke-dasharray: 615;
  stroke-dashoffset: 615;
}

